# AI Model API keys
GOOGLE_API_KEY=

# Picovoice Porcupine and Cobra
PICOVOICE_ACCESS_KEY=
CUSTOM_KEYWORD_PATH=xxx.ppn  # Path to custom wake word file
WAKE_KEYWORDS=porcupine  # Fallback wake word if custom one fails
AUDIO_DEVICE_INDEX=-1

# Search API
TAVILY_API_KEY=

# Edge TTS voices
ENGLISH_EDGE_TTS_VOICE=en-US-JennyNeural
CHINESE_EDGE_TTS_VOICE=zh-CN-XiaoxiaoNeural
